# This is a basic workflow to help you get started with Actions

name: CI
permissions: read-all

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-22.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a set of commands using the runners shell

      - name: Install dependencies
        run: sudo apt-get install -y libbenchmark-dev elfutils

      - name: build code
        run: ./verify.sh

      - name: run test
        run: grep avx2 /proc/cpuinfo && cd build && make test

      - name: build with clang
        run: |
          mkdir clang-build
          cd clang-build
          CC=clang CXX=clang++ cmake -DENABLE_WERROR=ON ..
          make -j 4
